##### Exercise 1: Create a Jupyter Notebook

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

##### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

##### Exercise 3 - Create a markdown cell for an introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Exercise 4 - Create a markdown cell to list data science languages

 ##### Some of the popular languages that Data Scientists use are:
 * 1. Python
 * 2. R
 * 3. java
 * 4. SQL
 * 5. Scala
 * 6. Julia

##### Exercise 5 - Create a markdown cell to list data science libraries

 ##### Some of the commonly used libraries used by Data Scientists include:
 * 1. SciKit-Learn
 * 2. Pandas
 * 3. Numpy
 * 4. SciPy
 * 5. Matplotlib and Seaborn
 * 6. TensorFlow
 * 7. PyTorch
 * 8. Keras

##### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|1. Jupyter Notebook |
|2. RStudio          |
|3. Apache Zeppelin  |

##### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Arithmetic operation
Sum = 10 + 15
subtraction = 20 - 5
divide = 25 / 2
multiplication = 25 * 4
print("Addition :",Sum)
print("Subtraction :",subtraction)
print("Divide :",divide)
print("multiplication :",multiplication)

Addition : 25
Subtraction : 15
Divide : 12.5
multiplication : 100

##### Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integers
expression = (3 * 4) + 5
print(expression)

17

##### Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 60
time = round((minutes / hours),2)
print("200 minutes is euqal to :", time, "Hr")

200 minutes is euqal to : 3.33 Hr

##### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in `Exercise 3`, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: `Objectives:` in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as `List popular languages for Data Science`.

##### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Amrit Roy